<div class="container">
<h4>Welcome, <%=@user.username%></h4>
<h2>Teams</h2>
 <ul id="teams">
    <% @teams.each.with_index(1) do |team, index| %>
        <li><a href="/teams/<%= team.id %>"><%= index %>: <%= team.name %></a></li>
    <% end %>
<br><br>


<a href="/teams/new"><input type="submit" id="submit" value="Create Team"></a>
<br><br>
<a href="/players"><input type="submit" id="submit" value="Player List"></a>
<br>
<a href="/logout"><input type="submit" id="submit" value="Logout"></a>
</div>
