<h1>Create a new Player</h1>

<form action="/players" method="POST">
   <label>Player Name:</label>

    <br>

  <input type="text" name="player[player_name]" id="player_name">
  <br>

  <br></br>

  <label>Choose an existing team:</label>

  <br></br>

  <%@teams.each do |team|%>
    <input type="checkbox" name="player[team_id]" value="<%=team.id%>" id="<%=team.id%>">
    <%=team.team_name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new owner:</label>
    <br></br>
   <label>name:</label>
   <input  type="text" name="team[team_name]" id="team_name"></input>

  <br></br>

  <input type="submit" value="Create Player">


</form>
